

.about-body {
    text-align: center;
    width: 80%;
    max-width: 1100px;
    margin-top: 150px;
}
.about-message {
    margin-top: 50px;
    padding: 35px;
    background-color: #f7f7f7;
}
    .about-message h2 {
        font-size: 3em;
    }
    img.image-student {
        width: 100%;
    }
.mission {
    padding: 35px;
    background-color: #2B3D41;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
    .mission-text {
        width: 50%;
    }
    .mission-image {
        width: 50%;
    }
    .mission h2 {
        color: #fff;
        font-size: 3em;
        margin-bottom: 0px;
    }
        .mission p {
            color: #fff;
            font-weight: 200;
        }

.vission {
    padding: 35px;
    background-color: #2B3D41;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.vission-text {
    width: 50%;
}

.vission-image {
    width: 50%;
}

.vission h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 0px;
}

.vission p {
    color: #fff;
    font-weight: 200;
}

.connected {
    padding: 35px;
    background-color: #2B3D41;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


    .connected h2 {
        color: #fff;
        font-size: 3em;
    }


