

.developers-body {
    text-align: center;
    width: 80%;
    max-width: 1100px;
    margin-top: 150px;
}

.developers-message {
    margin-top: 0px;
    padding: 35px;
    background-color: #f4f4f4;
}

    .developers-message h2 {
        font-size: 3em;
    }

img.image-student {
    width: 100%;
}

.team {
    background-color: #f4f4f4;
    margin-top: 40px;
}


.team-image {
    padding-bottom: 40px;
    background-color: #f4f4f4;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}
img.image-team {
    width: 100%;
    max-width: 160px;
    border-radius: 10%;
    padding: 15px;
}
.team h2 {
    color: #fff;
    font-size: 3em;
    padding: 25px;
    background-color: #2B3D41;
    margin-top: 40px;
}

.team p {
    color: #fff;
    font-weight: 200;

}
.team-image1 {
    display: flex;
}
.member h3 {
    margin: 0;
}

.vission {
    padding: 35px;
    background-color: #2B3D41;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.vission-text {
    width: 50%;
}

.vission-image {
    width: 50%;
}

.vission h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 0px;
}

.vission p {
    color: #fff;
    font-weight: 200;
}

.connected {
    padding: 35px;
    background-color: #2B3D41;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


    .connected h2 {
        color: #fff;
        font-size: 3em;
    }
